<a href="https://colab.research.google.com/github/EmoreiraV/RUoG/blob/main/Week3Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 3 Live Session

**Programming Quiz 1**

The first assignment for the course will go live on Friday at 5pm (UK time). This will take the form of a timed Moodle quiz.

You will have until Friday 20th October at 5pm (UK time) to complete the quiz. Once you begin the quiz, you will have **two hours** in which to complete the quiz. If you begin the quiz less than 2 hours before the deadline (5pm), you will only have until 5pm to complete the quiz.

The questions for the quiz will consist of a mixture of coding tasks, based on learning material from Weeks 1-3. When answering the questions, you should provide the code required to answer the questions (so be sure to have RStudio open when you start the quiz!). You do **not** have to provide the output from the code in your answers.

**For any data manipulation questions, please use base ("classic") R commands only, and not commands from tidyverse (covered in Week 4)**.

There will be a demo assignment made available for you to practice before the main quiz. This will help you familiarise yourself with the Moodle quiz functionality. You can attempt the practics quiz as many times as you wish.

Once you complete the assessed quiz, be sure to press the "submit" button at the end. Any unsubmitted attempts will be automatically submitted when the timer runs out (which you can view in the top right of the screen).

If you have any technical issues during the assessed quiz, please submit a Good Cause claim with any supporting evidence (i.e. screenshots of the issues that happened). If this claim is accepted, you will be entitled to a fresh reattempt during the reassessment window.

# Week 3 Outline

In Week 3, we cover basic data management in R. We will look at:



*   Data frames
*   Manipulating data frames
*   Merging data sets
*   Importing and exporting data from R

# Data Frames

Last week, we looked at matrices. We could store data in a matrix, but there is an important constraint - all the entries in the matrix must be the same variable type

In [ ]:
matrix_data <- cbind(c(1,2,3),c("cat","dog","mouse"))
matrix_data
matrix_data[,1]

[1] "1" "2" "3"

We could potentially use a list to store data (as this allows different types of variable), but lists do not enforce that each variable has to have the same number of observations.

In [ ]:
list_data <- list(c(1,2,3),c("cat","dog"))
list_data

[[1]]
[1] 1 2 3

[[2]]
[1] "cat" "dog"

Data frames avoid these issues above. We can create a data frame in R by using the function `data.frame()`.

Data frames behave just like matrices and lists, so we can use operators like `$` to access elements.

In [ ]:
frame_data <- data.frame(numbers=c(1,2,3),pets=c("cat","dog","mouse"))
frame_data

frame_data$pets
frame_data[,1]

  numbers pets
1 1       cat
2 2       dog
3 3       mouse

[1] "cat"   "dog"   "mouse"

[1] 1 2 3

# Data Manipulation

We can add new columns to an existing data frame. This can be done by using either `cbind()`, square bracket notation `data[]` or by using `$`.

If we want to use existing variables to create a new variable, it is best to use the `transform()` function.

In [ ]:
# Let's use the CIA factbook data from Task 2
load(url(paste("https://github.com/UofGAnalyticsData/R/blob",
               "/main/Week%203/cia.RData?raw=true",sep="")))

cia$GDPpercapita <- cia$GDP/cia$Population
#cia$GDPpercapita

# Let's use transform instead
# reload data
load(url(paste("https://github.com/UofGAnalyticsData/R/blob",
               "/main/Week%203/cia.RData?raw=true",sep="")))
cia <- transform(cia, GDPpercapita=GDP/Population)
cia$GDPpercapita

  [1]    382.3274          NA   3714.8440   5011.9685   7042.7257          NA
  [7]   7496.5078   7543.6409          NA  13149.2900          NA   8278.4241
 [13]   4068.0768  21908.5043          NA  50275.9747  52665.6761   6464.6341
 [19]  22432.0408  27040.9530    532.1341  13271.7709   5978.1109  47569.0433
 [25]   4491.7327    789.3690          NA   1979.3356   1937.5471   4196.4584
 [31]   6936.6450          NA   8377.8108          NA  34286.0643  44256.6784
 [37]   6860.8116    523.4268    284.6000    100.4663    710.6245   1324.2016
 [43]  46704.4013   4295.9527          NA    462.5968    881.5778  10932.6107
 [49]   3154.0110          NA          NA          NA   5472.7867    740.2603
 [55]    188.6668   3326.8466  15433.8669          NA   7141.7204   1153.4133
 [61]  14244.6367   4818.5188  32118.3824  21269.2951  67193.7693          NA
 [67]   1885.4579   5023.3966   4734.6885   3751.4322   1905.3266   3100.8106
 [73]  31826.1685    261.9012  18054.8896    294.2373  38345.5198  33471.3376
 [79]  34796.1356   4004.3611  53559.0993  46489.2702  21251.9858          NA
 [85]  10501.6987    436.9303   4279.3836   2877.0700  46374.4835    743.5227
 [91]  38025.2550  34784.8665  29513.8889   7240.5471          NA   2732.6444
 [97]  41627.4480    442.8327    288.1424   1468.3451    770.9559          NA
[103]          NA   1768.2867  31721.8636  13265.2291  62016.2116   1060.8199
[109]   2125.9282   5754.9920   3240.5552  67805.4815  35536.9092  26086.2317
[115]  41272.2577   4766.5758          NA  38118.1174  55661.0569   3014.3712
[121]   9169.1664    805.5838    629.1537   1155.9498  17677.1423   1793.5128
[127]  59342.4838    929.7193    758.8945  15191.5548   6975.1898    775.2888
[133]    269.0460  17193.7461 143637.9851  13712.3897 117147.0693  39367.9690
[139]   4656.6585    471.0569    286.0805   8348.9466   3176.6137    692.8246
[145]  21186.4302   2506.1219   1158.3372   6328.9168          NA  10277.6874
[151]   2216.2444   1434.2424          NA   1641.1598   6716.9508          NA
[157]   2595.2854    451.6994   3690.0124          NA          NA    442.5247
[163]  54408.9528          NA  14509.5763  32206.6313   1113.6952    347.7011
[169]   1476.2537   7160.2289          NA   7143.9850 103228.4034  16477.0624
[175]    912.9443   7886.1319   6969.2549   1050.4744          NA   2338.5945
[181]   4447.1576   1720.8190          NA  14744.2038  23860.8343  22160.5532
[187] 140288.1367   9628.4468  12546.3036    384.5022          NA          NA
[193]  13929.3813   6433.0149          NA          NA   5708.8760   2440.9313
[199]  28030.6028    752.3075  16303.7607   1013.7404   7071.0940   8905.2997
[205]    306.0534  33172.0036  18414.6354  28424.1050    772.3136    264.4422
[211]   6124.0521          NA  41529.9178          NA   1781.9635   1513.5871
[217]   6200.3005          NA   2640.7738  56613.6598  64777.7155   2204.8236
[223]  17480.3663    651.5044    502.5758   4128.6444    432.1269    499.8441
[229]          NA   2134.0303  19643.0270   3983.2777  10401.5956   5899.8294
[235]          NA   1207.4679    464.6341   4332.5665  56267.6892  45603.8920
[241]  46645.2947          NA   8957.2348    964.2829   2562.7062  12373.7439
[247]   1044.9878          NA          NA          NA   2698.2038          NA
[253]   1156.8758   1283.8518    399.2055

We can also drop columns from a data frame, either using `data[,-x]`, `data$var <- NULL` or `data[[x]] <- NULL`.

In [ ]:
colnames(cia)
cia$GDPpercapita <- NULL
colnames(cia)

[1] "Country"             "Continent"           "Population"
[4] "Life"                "GDP"                 "MilitaryExpenditure"

We can also subset data frames in a similar way to matrices.

We can also subset data by using the `subset()` function

In [ ]:
cia_asia <- cia[cia$Continent=="Asia",]
head(cia_asia)

cia_asia <- subset(cia, Continent=="Asia")
head(cia_asia)

   Country                     Continent Population Life  GDP
1  Afghanistan                 Asia       33609937  44.64 1.285e+10
13 Armenia                     Asia        2967004  72.68 1.207e+10
15 Ashmore and Cartier Islands Asia             NA     NA        NA
18 Azerbaijan                  Asia        8238672  66.66 5.326e+10
21 Bangladesh                  Asia      156050883  60.25 8.304e+10
28 Bhutan                      Asia         691141  66.13 1.368e+09
   MilitaryExpenditure
1   244150000
13  784550000
15         NA
18 1384760000
21 1245600000
28   13680000

   Country                     Continent Population Life  GDP
1  Afghanistan                 Asia       33609937  44.64 1.285e+10
13 Armenia                     Asia        2967004  72.68 1.207e+10
15 Ashmore and Cartier Islands Asia             NA     NA        NA
18 Azerbaijan                  Asia        8238672  66.66 5.326e+10
21 Bangladesh                  Asia      156050883  60.25 8.304e+10
28 Bhutan                      Asia         691141  66.13 1.368e+09
   MilitaryExpenditure
1   244150000
13  784550000
15         NA
18 1384760000
21 1245600000
28   13680000

We can also change the order of data sets by using the `order` function

In [ ]:
permut <- order(cia$GDP)
cia <- cia[permut,]
head(cia)

    Country                           Continent             Population Life
170 Niue                              Other                   1398        NA
236 Tuvalu                            Other                  12373     69.29
123 Kiribati                          Other                 112850     63.22
78  Falkland Islands (Islas Malvinas) Central/South America   3140        NA
8   Anguilla                          Central/South America  14436     80.65
200 Sao Tome and Principe             Africa                212679     68.32
    GDP       MilitaryExpenditure
170  10010000      NA
236  14940000      NA
123  71000000      NA
78  105100000      NA
8   108900000      NA
200 160000000 1280000

# Merging data sets

Quite often, studies split data sets across multiple data frames. For analysis, it is often a lot easier to combine these data into one data frame for modelling purposes. (Next week, we will look at more powerful functions in `dplyr` for merging data).

We can merge multiple data sets in R by using the `merge()` function.

When merging, it is best practice to specify which columns we wish to merge by, using the `by` argument.

If the columns in both data frames have different names, you can specify these by using the `by.x` and `by.y` arguments.

In [ ]:
# We shall use the data from Task 3 in the notes - patients and weights
load(url(paste("https://github.com/UofGAnalyticsData/R/blob/",
"main/Week%203/patients_weights.RData?raw=true",sep="")))

head(patients)
head(weights)

# Can see we have a matching column in PatientID

weights.patients <- merge(patients, weights, by="PatientID")
head(weights.patients)

  PatientID Gender Age Smoke
1 1         male   33  no
2 2         female 32  no
3 3         male   67  ex
4 4         male   36  current
5 5         female 47  current

  PatientID Week Weight
1 1         1    72
2 1         2    74
3 1         3    71
4 2         1    54
5 2         3    54
6 3         1    96

  PatientID Gender Age Smoke Week Weight
1 1         male   33  no    1    72
2 1         male   33  no    2    74
3 1         male   33  no    3    71
4 2         female 32  no    1    54
5 2         female 32  no    3    54
6 3         male   67  ex    1    96

# Importing and Exporting Data

**When reading and saving files into R, be sure to set the correct working directory first! (*Session > Set Working Directory > Choose directory...*)**

R has its own internal binary format called `RData`. To save any object(s) in this format, we can use the `save()` function.

If you want to save all objects in your workspace, you can use `save.image()`.

`RData` files can be loaded in by using the `load()` function.

In [ ]:
save(data.file, file="MyFile.RData")
load("MyFile.RData")

Most data you will come across is stored in a tabular format, such as a spreadsheet. The most common functions you will use to read in these types of data is `read.table()` and `read.csv()`.

Before reading a file into R first, it is always good practice to inspect the file first to determine its structure. Things to look for are:



*   Are there column names?
*   How are entries separated? (the delimiter - is it , -  )
*   How are missing values stored? (NA, - , NULL,  )

In [ ]:
#https://github.com/UofGAnalyticsData/R/raw/main/Week%203/cars.csv

cars <- read.csv("https://github.com/UofGAnalyticsData/R/raw/main/Week%203/cars.csv", na.strings="*")
head(cars)

cars <- read.table("https://github.com/UofGAnalyticsData/R/raw/main/Week%203/cars.csv", sep= ",", header=TRUE,  na.strings="*")
head(cars)

  Manufacturer Model   MPG Displacement Horsepower
1 Chevrolet    Camaro  19  3.4          160
2 Oldsmobile   Achieva NA  2.3          155
3 Dodge        Spirit  22  2.5          100
4 Chevrolet    Astro   NA  4.3          165
5 Chevrolet    Corsica 25  2.2          110
6 Volkswagen   Corrado 18  2.8          178

  Manufacturer Model   MPG Displacement Horsepower
1 Chevrolet    Camaro  19  3.4          160
2 Oldsmobile   Achieva NA  2.3          155
3 Dodge        Spirit  22  2.5          100
4 Chevrolet    Astro   NA  4.3          165
5 Chevrolet    Corsica 25  2.2          110
6 Volkswagen   Corrado 18  2.8          178

We can also export any data we have manipulated or created in R using the `write.table()` or `write.csv()` functions.

In [ ]:
write.csv(cars, "cars.csv", row.names=FALSE)

# Other data types in R

Many other file formats can be read into R (too many to list them all!). Some of the most popular types though are `.xml`, SAS XPORT data, and SPSS files.

We can also import SQL databases directly into R using the `DBI` and `RSQLite` libraries.

JSON data can also be read into R using the `jsonlite` package. R can also interact with public API services easily using this format.

# Live session Task

**Task**

In this task you will use the data frame houseprices which you can download using

In [ ]:
load(url(paste("https://github.com/UofGAnalyticsData/R/raw",
"/main/Week%203/houseprices.RData",sep="")))

The data frame houseprices contails data on property sales in and around Glasgow between July 1st and December 31st 2014. It contains the following columns



*   Day - Day of the month of the transaction
*   Month - Month of the transaction (integer)
*   Address - Address of the property
*   Lon - Longitude of the property (degrees)
*   Lat - Latitude of the property (degrees)
*   Price - Price of the property

Provide the R code which can be used to answer the following questions

What was the average house price in October 2014?

In [ ]:
mean(subset(houseprices, Month==10)$Price)

[1] 135896.9

How many transactions occurred between November 15th and December 15th

In [ ]:
nrow(subset(houseprices, (Month==11 & Day>=15)|(Month==12 & Day<=15)))

[1] 1945

Which house sold for the lowest and which sold for the highest price?

In [ ]:
houseprices[which.min(houseprices$Price),]
houseprices[which.max(houseprices$Price),]

    Day Month Address                                              Lon
727 2   7     24 Ancroft Street, Glasgow, Glasgow City G20 7HU, UK -4.267542
    Lat      Price
727 55.87717 1

     Day Month Address
9378 24  12    155 Saint Vincent Street, Glasgow, Glasgow City G2 5NW, UK
     Lon       Lat      Price
9378 -4.261058 55.86182 27800000

Use cut to create a new column called PriceGroup that takes the values low (Price $\leq$ 100,000), medium (100,000 < Price $\leq$ 250,000) and high (Price > 250,000)

In [ ]:
houseprices <- transform(houseprices, PriceGroup= cut(Price, breaks=c(0,100000, 250000, Inf), labels=c("low","medium","high")))
head(houseprices)

  Day Month Address
1 1   7     13 Hollowglen Road, Glasgow, Glasgow City G32 0ND, UK
2 1   7     7 Clarence Street, Clydebank, West Dunbartonshire G81 2HU, UK
3 1   7     16 Clarence Street, Clydebank, West Dunbartonshire G81 2HU, UK
4 1   7     10E Park Court, Clydebank, West Dunbartonshire G81 4PH, UK
5 1   7     30 Ashvale Crescent, Glasgow, Glasgow City G21 1NE, UK
6 1   7     212 Menzies Road, Glasgow, Glasgow City G21 3NE, UK
  Lon       Lat      Price  PriceGroup
1 -4.160496 55.85507  72500 low
2 -4.400987 55.90835 137995 medium
3 -4.400781 55.90897 148995 medium
4 -4.428328 55.91704  25000 low
5 -4.234017 55.88356  65000 low
6 -4.215196 55.88965  80000 low

Create a new variable Dist2Uni which contains the distance to the University in kilometres

What was the average price of properties which are within 1km of the University?

*Hint*: Consider two locations with longitudes $\lambda_1$ and $\lambda_2$ and latitudes $\phi_1$ and $\phi_2$ (expressed in radians)

Define

$$\Delta \lambda = \lambda_2 - \lambda_1$$
$$\Delta \phi = \phi_2 - \phi_1$$
$$\alpha = \text{sin}\left( \frac{\Delta \phi}{2} \right)^2 + \text{cos}(\phi_1)\text{cos}(\phi_2) \text{sin}\left( \frac{\Delta \lambda}{2} \right)^2$$
$$d = 12742\text{tan}^{-1} \left(\frac{\sqrt{\alpha}}{\sqrt{1-\alpha}} \right)$$

then $d$ gives the distance between the two locations.

The longitude and latitude of the university are:
$\lambda = -4.2886^{\circ}$ and $\phi = 55.8711^{\circ}$

tan$(\frac{a}{b})$ can be calculated in R using atan2(a,b)

In [ ]:
lambda1 <- houseprices$Lon / 180 * pi
phi1 <- houseprices$Lat / 180 * pi
lambda2 <- -4.2886 / 180 * pi
phi2 <-  55.8711  / 180 * pi
delta.lambda <- lambda2-lambda1
delta.phi <- phi2-phi1
alpha <- sin(delta.phi/2)^2 + cos(phi1)*cos(phi2)*sin(delta.lambda/2)^2
d <- 12742 * atan2(sqrt(alpha),sqrt(1-alpha))
houseprices <- transform(houseprices, Dist2Uni=d)